#hot-network-questions:not([data-jbsehnq-hidden=false]) {
  display: none !important;
}

#hot-network-questions li[data-jbsehnq-hidden=true] {
  display: none !important;
}

a.jbsehnq-options {
  display: block;
  margin: 8px 22px;
}
