#hot-network-questions:not([data-jbsehnq-error]):not([data-jbsehnq-hidden=false]),
#hot-network-questions:not([data-jbsehnq-error]) li[data-jbsehnq-hidden=true],
#hot-network-questions:not([data-jbsehnq-error]) a.show-more[data-jbsehnq-hidden=true] {
  display: none !important;
}

a.jbsehnq-options {
  display: block;
  margin: 8px 22px;
}
