html {
  width: 32em;
}

body {
  transition: .1s all;
  opacity: 1.0;
}

body[data-uninitialized=true] {
  opacity: 0.0;
}

label {
  cursor: pointer;
}

textarea {
  width: 100%;
  font-size: 1.25em;
  font-family: monospace;
  height: 5em;
  line-height: 1.1em;
}

.saving-message {
  position: absolute;
  top: 4px;
  right: 36px;
  opacity: 0;
  transition: 1s;
  font-style: italic;
  color: #DDD;
}

body.dirty .saving-message {
  opacity: 1.0;
}

p {
  margin: .125em;
}
